/*
 *  Copyright (C) 2016 Stephen Arnold <nerdboy@gentoo.org>
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

#include "socfpga_cyclone5.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>

/ {
	model = "Terasic DE1-SoC";
	compatible = "altr,socfpga-cyclone5", "altr,socfpga";

	chosen {
		bootargs = "earlyprintk";
		stdout-path = "serial0:115200n8";
	};

	memory {
		name = "memory";
		device_type = "memory";
		reg = <0x0 0x40000000>; /* 1GB */
	};

	aliases {
		ethernet0 = &gmac1;
	};

	regulator_3_3v: 3-3-v-regulator {
		compatible = "regulator-fixed";
		regulator-name = "3.3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	leds {
		compatible = "gpio-leds";
		user {
			label = "user-led";
			gpios = <&portb 24 0>;
			linux,default-trigger = "heartbeat";
		};
	};

        gpio_keys {
		compatible = "gpio-keys";
		#address-cells = <1>;
		#size-cells = <0>;

		user_pb {
			label = "user_pb";
			gpios = <&portb 25 0>;
			linux,code = <28>;
			gpio-key,wakeup;
                };
        };

	alt_vip_vfr_0: vip@0xff260000 {
		compatible = "altr,vip-frame-reader-1.0";
		reg = <0xff260100 0x00000080>;
		max-width = <1024>;
		max-height = <768>;
		mem-word-width = <128>;
		bits-per-color = <8>;
	};

	sysid@2000 {
		compatible = "altr,sysid-1.0";
		reg = <0xff202000 0x8>;
	};
};

&osc1 {
	clock-frequency = <25000000>;
};

&gmac1 {
	status = "okay";
	phy-mode = "rgmii";

	txd0-skew-ps = <0>; /* -420ps */
	txd1-skew-ps = <0>; /* -420ps */
	txd2-skew-ps = <0>; /* -420ps */
	txd3-skew-ps = <0>; /* -420ps */
	rxd0-skew-ps = <420>; /* 0ps */
	rxd1-skew-ps = <420>; /* 0ps */
	rxd2-skew-ps = <420>; /* 0ps */
	rxd3-skew-ps = <420>; /* 0ps */
	txen-skew-ps = <0>; /* -420ps */
	txc-skew-ps = <1860>; /* 960ps */
	rxdv-skew-ps = <420>; /* 0ps */
	rxc-skew-ps = <1680>; /* 780ps */

	max-frame-size = <3800>;
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&qspi {
	status = "okay";
};

&spi0 {
	status = "okay";

	spidev@0 {
		/* spidev causes a WARN_ON() so spoof with DAC compat */
		compatible = "rohm,dh2228fv";
		reg = <0>;      /* chip select */
		spi-max-frequency = <1000000>;
		enable-dma = <1>;
	};
};

&i2c0 {
	status = "okay";
	speed-mode = <0>;

	adxl345: adxl345@0 {
		compatible = "adi,adxl34x";
		reg = <0x53>;

		interrupt-parent = <&portc>;
		interrupts = <3 2>;
	};
};

&mmc0 {
	vmmc-supply = <&regulator_3_3v>;
	vqmmc-supply = <&regulator_3_3v>;
};

&uart0 {
	status = "okay";
};

&usb1 {
	status = "okay";
};

&i2c1 {
	status = "okay";
	speed-mode = <0>;
};

&spi1 {
	status = "okay";
};
